

<div> <img src="https://iteso01-my.sharepoint.com/personal/is721596_iteso_mx/Documents/DASW/Captura.PNG" width="100%" height="automatic" alt="Carne" loading="lazy"> </div>
<div style="color:white">.</div>
<h1 class="pb-4">Recetas</h1>
<hr>
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% if(recipe != '') { %>
    <% recipe.forEach(function(recipe, index){ %>
    <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
      <div class="category__img category__img--large shadow">
        <img src="<%= recipe.imagen %>" alt="<%= recipe.nombre %>" loading="lazy">
      </div>
      <div class="text"><%= recipe.nombre %> 
        
      </div>
    </a>
    <% }) %>
  <% } 
%>
</div>